parameters:
	level: 9	
	paths:
		- src
		- tests
	ignoreErrors:
	    - '#Call to an undefined method Doctrine\\Persistence\\ObjectManager::getConnection\(\)#'
	checkGenericClassInNonGenericObjectType: false